<div class="top-wrapper">
  <div class="container">
    <h1>FIND A MENTOR.<br>BE A MENTOR.</h1>
    <hr class="colorgraph">
    <p class='explanation'>At MentorMatch, you can find the best mentor for your skills, background and concerns.</p>
    <div class="btn signup"><%= link_to "Sign Up", signup_path%></div>
    <p>or sign up with</p>
    <a href="" class="btn facebook"><span class="fa fa-facebook"></span>Facebook</a>
  </div>
</div>