<header class="header-user-dropdown">

  <div class="header-limiter">
    <h1>MentorMatch</h1>
    <% if logged_in? %>
      <nav>
        <a href="#">Find</a>
        <a href="#">MyPage</a>
      </nav>

    <div class="header-user-menu">
      <%= gravatar_for @user, size:30 %>

      <ul>
        <li><%= link_to "Profile", current_user %></li>
        <li><a href="#">Settings</a></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    </div>
    <% else %>
      <div class="header-right main-nav" >
        <%= link_to "Log in", login_path %>
      </div>
    <% end %>
  </div>

</header>