<header class="header-user-dropdown">

  <div class="header-limiter">
    <h1>MentorMatch</h1>

    <nav>
      <a href="#">Overview</a>
      <a href="#">Surveys</a>
      <a href="#">Reports</a>
      <a href="#">Roles <span class="header-new-feature">new</span></a>
    </nav>


    <div class="header-user-menu">
      <%= gravatar_for @user, size:30 %>

      <ul>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Payments</a></li>
        <li><a href="#" class="highlight">Logout</a></li>
      </ul>
    </div>

  </div>

</header>